main {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

p {
    color: #a1a1aa;
    font-size: 1.05rem;
}


.section-1,
.section-2 {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #181818;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 20px;
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.04);
}

.section-2 {
    flex-direction: row-reverse;
}

.section-1>div,
.section-2>div {
    flex: 1;
}

.imagenes_proposal {
    width: 50%;
    height: 320px;
    object-fit: cover;
    border-radius: 16px;
}