.sidebar {
    background-color: #181818;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.sidebar h2 {
    text-align: center;
}

.panel-content {
    background-color: #181818;
    padding: 40px;
    border-radius: 20px;
    margin-left: 100px;
}

.panel-content img {
    width: 100%;
    border-radius: 16px;
    height: 575px;
    object-fit: cover;
}