<main class="reservation-container">
    <form class="reservation-form" [formGroup]="reservationForm">
        <h1>Registrar Nueva Reserva</h1>

        <div class="row g-3">
            <div class="col-12 col-md-4">
                <label for="startDate">Desde</label>
                <input type="date" id="startDate" class="form-control" formControlName="startDate" [min]="minDate">
                @if (
                reservationForm.controls.startDate.invalid &&
                reservationForm.controls.startDate.touched
                ) {
                <small>La fecha de inicio es obligatoria.</small>
                }
            </div>
            <div class="col-12 col-md-4">
                <label for="endDate">Hasta</label>
                <input type="date" id="endDate" class="form-control" formControlName="endDate"
                    [min]="reservationForm.controls.startDate.value || minDate">
                @if (
                reservationForm.controls.endDate.invalid &&
                reservationForm.controls.endDate.touched
                ) {
                <small>La fecha de fin es obligatoria.</small>
                }
            </div>
            <div class="col-12 col-md-4">
                <label for="guests">Huéspedes</label>
                <input type="number" id="guests" class="form-control" formControlName="guests">
                @if (
                reservationForm.controls.guests.invalid &&
                reservationForm.controls.guests.touched
                ) {
                <small>El minimo de huespedes es 1 y el maximo 6.</small>
                }
            </div>
        </div>

        <div class="form-section">
            <h2>Servicios adicionales</h2>
            <div class="row g-3">

                <div class="col-12 col-md-6">
                    <label class="service-option">
                        <input type="checkbox" formControlName="dailyMenu">
                        <span>Menú diario</span>
                    </label>
                </div>

                <div class="col-12 col-md-6">
                    <label class="service-option">
                        <input type="checkbox" formControlName="parking">
                        <span>Cochera</span>
                    </label>
                </div>

                <div class="col-12 col-md-6">
                    <label class="service-option">
                        <input type="checkbox" formControlName="childCare">
                        <span>Cuidado de niños</span>
                    </label>
                </div>

                <div class="col-12 ">
                    <label class="service-option">
                        <input type="checkbox" formControlName="historyGuide">
                        <span>Paseo histórico a caballo (sujeto a disponibilidad)</span>
                    </label>
                </div>

            </div>
        </div>

        <div class="form-section">
            <h2>Observaciones</h2>
            <textarea placeholder="Ingrese comentarios adicionales" formControlName="observations"></textarea>
        </div>
        <button type="submit" class="btn btn-light w-100 py-3">
            Confirmar reserva
        </button>
    </form>
</main>